* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* html {
  height: 100%;
} */
/* body {
  width: 100%;
  height: 100%;
} */

.wrapper {
  display: flex;
  height: 100vh;
  opacity: 0;
  /* transition: opacity ease-in 8s; */
  transition-delay: display 5s;
  display: none;
}
.testing {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 17px 30px;
  border: 0;
  color: #fff;
  font-size: 17.5px;
  background: #00d301;
  background: -webkit-linear-gradient(-196deg, #00d301, #36c275 50%, #00a562);
  background: -webkit-linear-gradient(164deg, #00d301, #36c275 50%, #00a562);
  background: linear-gradient(286deg, #00d301, #36c275 50%, #00a562);
  line-height: 30px;
  font-weight: 800;
  transition: background, color 0.1s ease-in-out;
}

.trees {
  position: absolute;
  z-index: 3;
  bottom: 0;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-size: cover;
}

.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}

#intro-button {
  z-index: 3;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  display: block;
  position: relative;
}

#myVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: fill;
}

.background-game {
  opacity: 0;
  transition: opacity ease-in 2s;
  border: 2px red solid;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(./images/BG3.svg) no-repeat center center;
  background-size: cover;
  animation: zoom-in-zoom-out 5s ease-out;

  height: 100vh;
}

.background-intro {
  opacity: 1;
  transition: opacity ease-in 2s;
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.stars {
  z-index: 0;
  background: #000 url("./images/stars.png") repeat top center;
}

.twinkling {
  z-index: 1;
  background: transparent url("./images/twinkling.png") repeat top center;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  z-index: 2;
  background: transparent url("./images/clouds.png") repeat top center;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1.2, 1.2);
  }
}

.intro {
  margin-bottom: 20px;
  text-align: center;
  float: left;
}

.intro2 {
  float: right;
}
.memory-game {
  margin: auto;
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(20% - 10px);
  height: calc(20% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  transform: scale(1);
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.front-face {
  background-color: #f5f5dc;
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}
.back-face {
  background-color: #8bacc7;
  /* #EAA763 */
}

.memory-card.flip {
  transform: rotateY(180deg);
}

/* @media (min-width: 600px) {
  .memory-game {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 900px) {
  .memory-game {
    grid-template-columns: repeat(5, 1fr);
  }
} */
/* @media only screen and (min-device-width: 320px) and (max-device-width: 760px) and (orientation: landscape) {
  .front-face,
  .back-face {
    padding: 5px;
  }
} */
