* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}
body {
  background-color: black;
}

.wrapper {
  display: flex;
  height: 90vh;
  opacity: 0;
  transition-delay: display 5s;
  display: none;
  margin-top: 60px;
}

#toggle_sounds {
  z-index: 5;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #66ff00;
  border-radius: 100%;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0px 5px 6px;
  left: 3%;
  top: 4%;
  box-shadow: 0 0 0 1pt #aaa9ad;
  position: absolute;
}

.music_backgroundColor {
  background-color: #ff3131 !important;
}

.icon {
  background-image: url("./images/stop.svg") !important;
}

.music_icon {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 3px;
  top: 3px;
  cursor: pointer;
  text-shadow: 0px 1px 0px #fff;
  text-align: center;
  padding-top: 6px;
  border-radius: 100%;
  background-image: url("./images/play.svg");
  background-position: 0 0;
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: rgba(0, 0, 0, 0.4) 0 3px 6px;
  transition: all 0.1s ease-in;
}

.music_icon:active {
  width: 40px;
  height: 40px;
  margin: 2px 0 0 2px;
}

.moves {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  color: #f5f5dc;
  padding: 17px 30px;
  float: left;
  font-size: 22px;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}

.boardStats {
  display: flex;
  flex-direction: column;
}

.trees {
  background: url(./images/trees.svg) repeat-x center bottom;
  background-size: contain;
  position: absolute;
  display: block;
  opacity: 0.7;
  bottom: 0;
  z-index: 4;
  width: 100%;
  height: 30vh;
}

.intro-button {
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  position: relative;
  cursor: pointer;
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  font-weight: 700;
  padding: 13px 20px;
  background-color: #b2b2b2;
  border-radius: 8px;
  color: black;
  height: 4rem;
  transition: background-color 5s;
}

.intro-button:hover {
  box-shadow: 0 0 5px 5px rgb(46, 46, 46);
  background-color: white;
}
.intro-button:active {
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transition-duration: 0.35s;
}

.intro-button:focus {
  border: none;
  outline: none;
}

#start-journey {
  transition: opacity 2s ease-in;
  border-radius: 10px 100px / 120px;
  margin-top: 10em;
}
#take-path {
  opacity: 0;
  transition: opacity 2.5s ease-in;
  margin-top: 5em;
}

.restart {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 17px 30px;
  color: #fff;
  font-size: 17.5px;
  background: #00d301;
  background: -webkit-linear-gradient(-196deg, #00d301, #36c275 50%, #00a562);
  background: -webkit-linear-gradient(164deg, #00d301, #36c275 50%, #00a562);
  background: linear-gradient(286deg, #00d301, #36c275 50%, #00a562);
  line-height: 30px;
  font-weight: 800;
  border-radius: 10px;
}
.new-game {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 17px 30px;
  color: #fff;
  font-size: 17.5px;
  background: rgb(205, 98, 205);
  background: -webkit-linear-gradient(
    90deg,
    rgba(180, 63, 117, 1) 26%,
    rgba(209, 20, 185, 1) 73%,
    rgba(205, 98, 205, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(180, 63, 117, 1) 26%,
    rgba(209, 20, 185, 1) 73%,
    rgba(205, 98, 205, 1) 100%
  );
  line-height: 30px;
  font-weight: 800;
  transition: background color 0.1s ease-in-out;
  border-radius: 10px;
}

.intro-text {
  font-family: "Libre Baskerville", serif;
  font-size: 28px;
  font-weight: normal;
  width: 800px;
  color: white;
  opacity: 0.7;
  z-index: 4;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7em;
  position: relative;
  background-color: transparent;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  /* letter-spacing: 2.5px; */
}
.game-text {
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  font-weight: bold;
  width: 82%;
  color: #f5f5dc;
  z-index: 3;
  line-height: 1.7;
  margin: 40px auto 20px;
  position: relative;
  text-align: center;
  opacity: 0;
  transition: opacity 2s ease-out;
  letter-spacing: 1px;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}

.mid {
  display: flex;
  padding-left: 2em;
}

/* Switch starts here */
.rocker {
  display: inline-block;
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
  margin-top: 1rem;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
  -webkit-transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #a84e04;
  /*background-color: #835e3d;*/
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
  -webkit-transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
  -webkit-transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: #045ea8;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
  -webkit-transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
  -webkit-transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

#audio-intro {
  z-index: 9999;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  display: block;
  position: relative;
}

.background-game {
  opacity: 0;
  transition: opacity ease-in 2s;
  transition-delay: 1s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(./images/caveBackground.svg) no-repeat center center;
  background-size: cover;
}

.background-intro {
  opacity: 1;
  transition: opacity ease-in 2s;
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.stars {
  z-index: 0;
  background: #000 url("./images/stars.png") repeat top center;
}

.twinkling {
  z-index: 1;
  background: transparent url("./images/twinkling.png") repeat top center;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  z-index: 2;
  background: transparent url("./images/clouds.png") repeat top center;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@keyframes wiggle {
  0%,
  7% {
    transform: rotateY(180deg) rotateZ(0);
  }
  15% {
    transform: rotateY(180deg) rotateZ(-15deg);
  }
  20% {
    transform: rotateY(180deg) rotateZ(10deg);
  }
  25% {
    transform: rotateY(180deg) rotateZ(-10deg);
  }
  30% {
    transform: rotateY(180deg) rotateZ(6deg);
  }
  35% {
    transform: rotateY(180deg) rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateY(180deg) rotateZ(0);
  }
}

.memory-game {
  margin: auto;
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  padding-top: 70px;
}

.memory-card {
  width: calc(20% - 10px);
  height: calc(20% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: transform 0.5s;
  cursor: pointer;
}

.memory-card:active {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  transition: transform 0.2s;
}

.front-face {
  background-color: #f5f5dc;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
  -webkit-user-drag: none;
}
.back-face {
  background-color: #8bacc7;
}

.memory-card.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.memory-card.flip_reset {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition: transform 0s;
}
.memory-card.pop_in {
  animation: wiggle 0.5s 1;
  animation-delay: 0.4s;
}

.img {
  width: 100%;
  border-radius: 10px;
}

.span,
.modal-body {
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  bottom: 0;
  left: 0;
  font-size: 28px;
  z-index: 4;
  text-align: center;
  padding: 70px 0 0 0;
  font-weight: 700;
}

.span {
  text-shadow: 0.07em 0 white, 0 0.07em white, -0.07em 0 white, 0 -0.07em white;
  color: #36c275;
}

#moves-text,
#best-score {
  text-shadow: 0.07em 0 rgb(205, 98, 205), 0 0.07em rgb(205, 98, 205),
    -0.07em 0 rgb(205, 98, 205), 0 -0.07em rgb(205, 98, 205);
  color: white;
}

.modal-content {
  position: absolute;
  background: url(./images/purple.gif);
  background-size: cover;
  height: 500px;
}

.modal {
  border-radius: 10px;
}

@media screen and (min-device-width: 740px) and (max-device-width: 1025px) {
  .intro-text {
    width: 700px;
    text-align: center;
    line-height: 1.7;
    padding-top: 10em;
  }
  .intro-button {
    padding: 0 2.6rem;
  }
  #take-path {
    margin-top: 6em;
  }
  #start-journey {
    margin-top: 14em;
  }
  .front-face,
  .back-face {
    padding: 7px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1025px) and (orientation: portrait) {
  .boardStats {
    flex-direction: row;
    position: absolute;
    align-items: center;
    bottom: 7%;
    left: 9%;
    gap: 35px;
  }

  .memory-game {
    margin: 197px auto;
  }

  .game-text {
    margin: 80px auto 20px;
    font-size: 25px;
    line-height: 2;
  }

  .moves {
    font-size: 25px;
  }
  .rocker {
    font-size: 1.3em;
  }

  .wrapper {
    height: 80vh;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1025px) and (orientation: landscape) {
  .game-text {
    font-size: 29px;
    margin: 30px 135px 20px;
  }
  #take-path {
    margin-top: 3em;
  }
  .wrapper {
    margin-top: 135px;
    height: 80vh;
  }
  .memory-game {
    width: 700px;
    height: 633px;
    padding-left: 90px;
  }
  .boardStats {
    row-gap: 15px;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 700px) {
  .memory-game {
    padding-top: 120px;
    width: 360px;
    height: 475px;
  }
  .boardStats {
    flex-direction: row;
    position: absolute;
    bottom: 0;
  }
  .front-face,
  .back-face {
    padding: 5px;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 700px) and (orientation: portrait) {
  .intro-text {
    font-size: 24px;
    max-width: 300px;
    text-align: justify;
  }

  .game-text {
    font-size: 20px;
    margin: 46px auto 20px;
  }
  #start-journey {
    margin-top: 7em;
  }

  .wrapper {
    margin-top: 100px;
    height: 80vh;
  }

  .moves {
    padding: 5px 30px;
    font-size: 20px;
  }

  .modal-body {
    padding: 55px 0 0 0;
  }

  .mid {
    padding-left: 0;
    padding-right: 1em;
  }

  #toggle_sounds {
    left: 1%;
    top: 1%;
  }

  button.full-width {
    width: 100%;
    margin: 5px auto;
  }
}

@media screen and (min-device-width: 640px) and (max-device-width: 700px) and (orientation: landscape) {
  .intro-text {
    line-height: 1.7em;
    max-width: 575px;
    padding-top: 3em;
  }
  #take-path {
    margin-top: 1em;
  }
  #start-journey {
    margin-top: 3em;
  }

  .background-game {
    height: 152vh;
  }

  .boardStats {
    top: 208px;
    flex-direction: column;
  }

  .wrapper {
    margin-top: 90px;
  }

  .memory-game {
    width: 520px;
    margin-left: 135px;
  }

  .rocker {
    font-size: 0.9em;
  }
  .mid {
    padding-left: 10px;
  }

  .moves {
    padding: 5px 10px;
    font-size: 20px;
  }

  .game-text {
    margin-left: 115px;
  }

  .front-face,
  .back-face {
    padding: 1px;
  }

  #gameWonModal {
    height: 85vh;
    margin-top: 25px;
  }

  .span {
    top: 35px;
  }

  .modal-footer {
    position: absolute;
    bottom: 90px;
    left: 45px;
    z-index: 5;
  }
}
